@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    /*https://discord.com/api/oauth2/authorize?client_id=956940545631084564&permissions=8&scope=bot*/
    scroll-behavior: smooth !important;
    transition: 0.25s;
}

::-moz-selection{
    background: rgba(0, 0, 0, 0.5);
}

::selection{
    background: rgba(81, 92, 80, 0.5);
}

::-webkit-scrollbar {
    width: 2vh;
}

::-webkit-scrollbar-track {
    background: var(--background2);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2vh;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
}

html{
    cursor: pointer;
}

img{
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    cursor: auto;
    --green: #5CD85A;
    --green2: #62fb60;
    --background: rgb(36, 42, 37);
    --txt1: white;
    --txt2: rgb(200, 200, 200);
    --button: rgb(150, 150, 150);
    --button_hover: rgb(175, 175, 175);
    --background2: rgb(24, 28, 24);
    --background3: rgb(13, 16, 13);
    --hr: rgb(58, 69, 61);
    --txt3: rgb(208, 255, 212);
    --txt4: rgb(100, 100, 100);
    --red: #dd2e44;
    --red2: #ff314d;
}

.main{
    background: url('../backgrounds_folder/pattern.svg'), var(--background);
    background-size: 100%;
    font-family: 'Poppins';
    overflow-x: hidden;
    color: var(--txt1);
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    color: var(--txt1);
    min-height: 100vh;
    display: flex;
}

.panel{
    padding: 1rem;
    background: var(--background2);
    width: min-content;
    min-height: 115vh;
    display: flex;
    flex-direction: column;
}

.panel span{
    font-size: 1.5em;
}

.panel .material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20;
}

.panel .logo{
    width: max-content;
    display: flex;
}

.panel .logo:hover{
    cursor: pointer;
}

.panel .logo img{
    height: 100%;
    width: 3rem;
    margin-right: 0.5rem;
}

.panel .logo h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
}

.logo_hr{
    width: calc(100% + 2rem);
    height: 0.05rem;
    background: var(--hr);
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: -1rem;
}

.panel .classes h1{
    color: var(--txt4);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.panel .classes .modules{
    margin-bottom: 1.5rem;
}

.panel .classes .more{
    margin-bottom: 1.5rem;
}

.panel .classes div div{
    color: var(--txt2);
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: 0s;
    display: flex;
    align-items: center;
    background: transparent;
}

.panel .classes div div:hover{
    background: rgba(255, 255, 255, 0.075);
    cursor: pointer;
    color: var(--txt1);
}

.ui{
    padding: 5rem;
}

.ui div .txt h1{
    font-size: 3rem;
    font-weight: 700;
}

.ui div .txt h2{
    font-size: 1.25rem;
    color: var(--txt2);
    margin-bottom: 3rem;
    font-weight: 400;
}

.ui div .txt h3{
    font-size: 1.15rem;
    color: var(--txt2);
    margin-bottom: 1.5rem;
    width: max-content;
}

.ui div .txt h3 span{
    color: var(--txt1);
    font-size: 2rem;
}

.ui div .cmds{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 3rem;
}

.ui div .cmds div{
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--background2);
    width: 24.9rem;
    position: relative;
}

.ui div .cmds div h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--green);
    width: max-content;
    float: left;
    margin-bottom: 1rem;
}

.ui div .cmds div h1 span{
    color: var(--txt3);
    opacity: 0.5;
    font-size: 1rem;
    position: absolute;
    margin-top: 0.35rem;
    margin-left: 0.5rem;
}

.ui div .cmds div button{
    width: max-content;
    background: var(--button);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--txt1);
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.ui div .cmds div button:hover{
    cursor: pointer;
    box-shadow: inset 2.5rem 0 0 0 var(--button_hover);
}

.ui div .cmds div h5{
    font-size: 1rem;
    font-weight: 400;
    color: var(--txt2);
    margin-bottom: 7rem;
    float: left;
}

.ui div .cmds div .example{
    border-radius: 0.25rem;
    display: flex;
    background: #36393f;
    padding: 1rem;
    margin-top: 2rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    width: calc(100% - 4rem);
}

.ui div .cmds div .example img{
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
}

.ui div .cmds div .example h1{
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 0.5rem;
    color: var(--txt1);
}

.ui div .cmds div .example h2{
    background: #7289da;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 400;
    width: max-content;
    height: max-content;
    padding: 0rem 0.25rem;
    color: var(--txt1);
    margin-top: 0.35rem;
    margin-right: 0.5rem;
}

.ui div .cmds div .example h3{
    font-size: 0.75rem;
    color: #62666c;
    font-weight: 600;
    margin-top: 0.35rem;
}

.ui div .cmds div .example h4{
    margin-top: 1.75rem;
    position: absolute;
    width: max-content;
    margin-left: 4rem;
    font-weight: 400;
    color: rgb(215, 215, 215);
}

.ui div .cmds div .example h4 span{
    background: #7289da20;
    padding: 0rem 0.25rem;
    border-radius: 0.25rem;
    font-weight: 500;
    color: #7289dab9;
}

.sub_ui{
    display: '';
}

.panel{
    position: relative;
}

.panel .panel_pfp{
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin-left: -1rem;
    position: absolute;
    bottom: 0;
    color: var(--red);
    transition: 0.1s;
}

.panel .panel_pfp:hover{
    cursor: pointer;
    color: #ff5f74;
}

.panel .panel_pfp img{
    aspect-ratio: 1/1;
    height: 3rem;
    border-radius: 100%;
    margin-right: 0.75rem;
    background: var(--background3);
    object-fit: cover;
}

.panel .panel_pfp h1{
    font-size: 1rem;
    font-weight: 400;
}

.panel{
    position: relative;
}

.pfp_hr{
    width: calc(100%);
    height: 0.05rem;
    background: var(--hr);
    border: none;
    margin-left: -1rem;
    margin-bottom: 4rem;
    position: absolute;
    bottom: 0;
}

.sub_ui{
    display: none;
}

#general-ui{
    display: block;
}

#general-btn{
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--txt1);
}

@media only screen and (max-width: 945px) {
    .panel{
        padding: 2vw;
        min-height: 107vw;
    }
    
    .panel span{
        font-size: 3vw;
    }
    
    .panel .logo img{
        width: 7vw;
        margin-right: 1vw;
    }
    
    .panel .logo h1{
        font-size: 5vw;
        letter-spacing: 1.25vw;
    }
    
    .logo_hr{
        width: calc(100% + 4vw);
        height: 0.1vw;
        margin-top: 1vw;
        margin-bottom: 3vw;
        margin-left: -2vw;
    }
    
    .panel .classes h1{
        font-size: 2.25vw;
        margin-bottom: 0.75vw;
    }
    
    .panel .classes .modules{
        margin-bottom: 2vw;
    }
    
    .panel .classes .more{
        margin-bottom: 2vw;
    }
    
    .panel .classes div div{
        padding: 1vw;
        border-radius: 0.5vw;
    }

    .panel{
        font-size: 2.5vw;
    }
    
    .ui{
        padding: 5vw;
    }
    
    .ui div .txt h1{
        font-size: 5vw;
    }
    
    .ui div .txt h2{
        font-size: 2.75vw;
        color: var(--txt2);
        margin-bottom: 5vw;
    }
    
    .ui div .txt h3{
        font-size: 2.25vw;
        margin-bottom: 3vw;
    }
    
    .ui div .txt h3 span{
        font-size: 4vw;
    }
    
    .ui div .cmds{
        gap: 5vw;
        grid-template-columns: 1fr;
    }
    
    .ui div .cmds div{
        padding: 2vw;
        border-radius: 1vw;
        width: 100%;
    }
    
    .ui div .cmds div h1{
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    
    .ui div .cmds div h1 span{
        font-size: 2vw;
        margin-top: 1vw;
        margin-left: 0.75vw;
    }
    
    .ui div .cmds div button{
        border-radius: 0.5vw;
        padding: 1vw;
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .ui div .cmds div button span{
        font-size: inherit;
    }
    
    .ui div .cmds div button:hover{
        box-shadow: inset 5vw 0 0 0 var(--button_hover);
    }
    
    .ui div .cmds div h5{
        font-size: 2vw;
        margin-bottom: 13vw;
    }
    
    .ui div .cmds div .example{
        border-radius: 0.5vw;
        padding: 2vw;
        margin-top: 3vw;
        margin-bottom: 2vw;
        width: calc(100% - 8vw);
    }
    
    .ui div .cmds div .example img{
        height: 7vw;
        width: 7vw;
    }
    
    .ui div .cmds div .example h1{
        font-size: 2.5vw;
        margin-left: 1.25vw;
        margin-right: 1vw;
    }
    
    .ui div .cmds div .example h2{
        padding: 0.5vw;
        border-radius: 0.5vw;
        font-size: 1.5vw;
        padding: 0vw 0.5vw;
        margin-top: 0.75vw;
        margin-right: 1vw;
        padding-top: 0.1vw;
    }
    
    .ui div .cmds div .example h3{
        font-size: 1.5vw;
        margin-top: 0.75vw;
    }
    
    .ui div .cmds div .example h4{
        margin-top: 3.5vw;
        margin-left: 8.5vw;
        font-size: 2vw;
    }
    
    .ui div .cmds div .example h4 span{
        padding: 0vw 0.5vw;
        border-radius: 0.5vw;
    }
    
    .panel .panel_pfp{
        width: calc(100% - 4vw);
        padding: 2vw;
        margin-left: -2vw;;
    }

    .panel .panel_pfp img{
        height: 7vw;
        margin-right: 1.5vw;
    }
    
    .panel .panel_pfp h1{
        font-size: 2.5vw;
    }
    
    .pfp_hr{
        height: 0.1vw;
        margin-left: -2vw;
        margin-bottom: 11vw;
    }
}
