@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    /*https://discord.com/api/oauth2/authorize?client_id=956940545631084564&permissions=8&scope=bot*/
    scroll-behavior: smooth !important;
    transition: 0.25s;
}

::-moz-selection{
    background: rgba(0, 0, 0, 0.5);
}

::selection{
    background: rgba(81, 92, 80, 0.5);
}

::-webkit-scrollbar {
    width: 2vh;
}

::-webkit-scrollbar-track {
    background: var(--background2);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2vh;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
}

html{
    cursor: pointer;
}

img{
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    cursor: auto;
    --green: #5CD85A;
    --green2: #64ee62;
    --background: rgb(36, 42, 37);
    --txt1: white;
    --txt2: rgb(200, 200, 200);
    --button: rgb(150, 150, 150);
    --button_hover: rgb(175, 175, 175);
    --background2: rgb(24, 28, 24);
    --background3: rgb(13, 16, 13);
    --hr: rgb(58, 69, 61);
    --txt3: rgb(208, 255, 212);
}

.main{
    background: url('../backgrounds_folder/pattern.svg'), var(--background);
    background-size: 100%;
    font-family: 'Poppins';
    overflow-x: hidden;
    color: var(--txt1);
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    color: var(--txt1);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.holder{
    padding: 1rem;
    border-radius: 1rem;
    background: var(--background2);
    width: 55rem;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vector{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100%;
}

.vector .img{
    height: 80%;
    width: 80%;
}

.vector .img #Body{
    animation: body;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.vector .img #Head{
    animation: head;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.ui{
    margin-right: 3rem;
    width: 25rem;
    height: 100%;
    margin-left: 2rem;
}

.ui .heading{
    font-size: 2rem;
    font-weight: 700;
    color: var(--green);
    margin-top: 1.5rem;
}

.ui .subheading{
    font-size: 1rem;
    font-weight: 400;
    color: var(--txt2);
    margin-bottom: 2rem;
}

.ui .box{
    width: 100%;
    margin-bottom: 1rem;
    gap: 0.5rem;
    align-items: center;
    display: flex;
}

.ui .box-h2{
    color: #CCCB50;
    font-weight: 400;
    font-size: 0.85rem;
    margin-bottom: 0.15rem;
    margin-left: 2rem;
    display: none;
}

.ui .box .material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 20;
}

.ui .box input{
    width: 100%;
    height: 2rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background: var(--background3);
    font-size: 1rem;
    color: var(--txt2);
    border: none;
    outline: none;
    border: 0.1rem solid transparent;
    font-family: 'Poppins';
}

.ui .box input:focus, .ui .box input:hover{
    border: 0.1rem solid var(--green);
}

.ui .agreement{
    display: flex;
    gap: 0.5rem;
    color: var(--txt2);
}

.ui .agreement input{
    accent-color: var(--green);
}

.ui .agreement h2{
    font-size: 0.85rem;
    font-weight: 400;
}

.ui .agreement h2 span{
    color: var(--green);
}

.ui .agreement h2 span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.ui button{
    padding: 1rem 2rem;
    font-size: 1.25rem;
    color: white;
    border-radius: 0.5rem;
    background: var(--green);
    border: none;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 0.5;
    cursor: not-allowed;
}

.ui button span{
    margin-left: 0.5rem;
}

.ui button:hover{
    box-shadow: inset 12.5rem 0 0 0 var(--green2);
}

@media only screen and (max-width: 945px) {
    .holder{
        padding: 5vw;
        border-radius: 2vw;
        width: 75vw;
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .vector{
        width: 25vw;
        height: 100%;
        display: none;
    }
    
    .ui{
        width: 75vw;
        height: 100%;
        margin-left: 0vw;
    }
    
    .ui .heading{
        font-size: 5vw;
        font-weight: 700;
        margin-top: 0vw;
    }
    
    .ui .subheading{
        font-size: 3vw;
        font-weight: 400;
        margin-bottom: 2vw;
    }
    
    .ui .box{
        margin-bottom: 2vw;
        gap: 1vw;
    }
    
    .ui .box-h2{
        font-size: 2.5vw;
        margin-bottom: 0.5vw;
        margin-left: 2rem;
        text-align: left;
    }
    
    .ui .box input{
        height: 5vw;
        padding: 0.5vw 1vw;
        border-radius: 0.5vw;
        font-size: 2.5vw;
        border: 0.1vw solid transparent;
    }

    .ui .box span{
        font-size: 4vw;
    }
    
    .ui .box input:focus, .ui .box input:hover{
        border: 0.1vw solid var(--green);
    }
    
    .ui .agreement{
        gap: 1vw;
    }

    .ui .agreement input{
        height: 3vw;
        width: 2vw;
    }
    
    .ui .agreement h2{
        font-size: 2vw;
    }
    
    .ui button{
        padding: 2vw 4vw;
        font-size: 3vw;
        border-radius: 1vw;
        margin-top: 2vw;
        margin-bottom: 0vw;
    }
    
    .ui button span{
        margin-left: 1vw;
        font-size: 3vw;
    }
    
    .ui button:hover{
        box-shadow: inset 28vw 0 0 0 var(--green2);
    }
}

@keyframes body{
    0%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-5rem);
    }
    50%{
        transform: translateY(-5rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

@keyframes head{
    0%{
        transform: translateY(0rem) rotate(0deg);
    }
    50%{
        transform: translateY(-0.5rem) rotate(-3deg);
    }
    50%{
        transform: translateY(-0.5rem) rotate(-3deg);
    }
    0%{
        transform: translateY(0rem) rotate(0deg);
    }
}
